/backend/node_modules
/backend/.env

/.vscode

/frontend/node_modules

#Mobile
/mobile/node_modules/**/*
/mobile/.expo/*
/mobile/npm-debug.*
/mobile/*.jks
/mobile/*.p8
/mobile/*.p12
/mobile/*.key
/mobile/*.mobileprovision
/mobile/*.orig.*
/mobile/web-build/
/mobile/web-report/
/mobile/yarn-error.log

# Exclude everything
/backend/uploads/*

# Exception to the rule
!/backend/uploads/.gitkeep 